.createGameContainer{
  width: 100%;
  height: 100%;
}
.createGameHeader{
  color: rgb(128, 128, 128);
  width: 100%;
  font-family: "DMSans-Bold";
  display: inline-flex;
}
.usernameHeader{
  width: 100%;
}
.arrowContainer{
  width: 100px; 
}
.blankSpace{
  width: 100px;
}
.arrowLeft{
  margin-top: 30px;
  margin-left: 30px;
}
.arrowLeft:hover{
  opacity: 50%;
  cursor: pointer;
}
.titleCreateGame{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.zipInputClickButton{
  width: 200px;
  height: 27px;
  background-color: rgba(42, 42, 196, 0.705);
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  border: none;
  margin-right: 30px;
}
.zipInputClickButton:hover, .inviteFriendsButton:hover, .playButton:hover, .playButtonNextGame:hover{
  opacity: 70%;
  cursor: pointer;
}
.lobbyPlayersContainer{
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  font-family: "DMSans-Bold";
  height: 200px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}
.playersLobbyText{
  font-size: 30px;
}
.inviteFriendsCode{
  font-size: 20px;
}
.gameId{
  font-size: 30px;
  margin-left: 10px;
  color: red;
}
.playerStyleCSS{
  font-size: 20px;
  margin-left: 40px;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  color: rgb(157, 157, 157);
  margin-bottom: 20px;
}
.h1Playertext{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 10px;
}
.inviteFriendsCodeContainer{
  display: inline-flex;
  width: 100%;
  align-items: center;
}
.divCreate{
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  font-family: "DMSans-Bold";
  height: 200px;
}

.formCreate{
  justify-content: center;
  max-width: 100%;
  font-family: "DMSans-Bold";
}

.zipForm{
  display: inline-flex;
  height: 30px;
  margin-bottom: 20px;
  align-items: center;
}

.inviteFriendsButton{
  width: 200px;
  height: 50px;
  background-color: rgb(64, 64, 64);
  color: white;
  border-radius: 5px;
  text-align: center;
  border: none;
}
.createButton{
  font-size: 15px;
  font-family: "DMSans-Bold";
  width: 100%;
  height: 40px;
  background-color: rgb(255, 70, 70);
  color: white;
  border-radius: 5px;
  text-align: center;
  border: none;
}
.playButton{
  font-size: 15px;
  font-family: "DMSans-Bold";
  width: 100%;
  height: 40px;
  background-color: rgb(255, 70, 70);
  color: white;
  border-radius: 5px;
  text-align: center;
  border: none;
}
.playButtonNextGame{
  font-size: 15px;
  font-family: "DMSans-Bold";
  width: 100%;
  height: 40px;
  background-color: rgb(255, 70, 70);
  color: white;
  border-radius: 5px;
  text-align: center;
  border: none;
  margin-top: 10px;
}
.createButton:hover{
  opacity: 70%;
  cursor: pointer;
}

.uploadImage{
  width: 30px;
  margin-right: 10px;
}

.gamePanelHeaderContainer{
  display: inline-flex;
  width: 100%;
}
.codeHeader{
  font-family: "DMSans-Bold";
  width: 250px;
}
.usernameHeader{
  font-family: "DMSans-Bold";
}
.gamePanelBodyContainer{
  font-family: "DMSans-Bold";
  margin-top: 10px;
  padding-bottom: 30px;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
}
.gamePanelBottomContainer{
  font-family: "DMSans-Bold";
  margin-top: 10px;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
.bottomRight{
  display: inline-flex;
  flex-direction: column;
}
.bottomLeft{
  display: inline-flex;
  flex-direction: column;
}
.whoisthis{
  font-size: 20px;
  color: rgb(150, 150, 150);
}
.lobbyCode{
  width: 200px;
}
.missatgeRandomWhatsapp{
  font-size: 40px;
}
.groupFileName{
  margin-top: 9%;
}
.indexUserButton{
  font-size: 25px;
  font-family: "DMSans-Bold";
  height: 35px;
  background-color: rgb(86, 86, 86);
  color: white;
  border-radius: 5px;
  text-align: center;
  border: none;
  margin: 10px;
}
.indexUserButton:hover{
  opacity: 75%;
  cursor: pointer;
}